
header{
    background-color: #f6f5f1;    
}

ul li{
    padding: 0 20px;
    font-weight: bold;
}
.card img{
   
    width: 320px;
    height: 340px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 20px;
    padding-top: 5px;       
}
h1{
    font-size: 50px !important;
    font-family: 'Poppins', sans-serif;
    color: #d3a203;
    letter-spacing: -4px;    
} 
h5{
    font-weight: bolder !important;
    color: #183f52;
}
h3{
    float: left;
    color: #f07c1d;
    font-size: 40px !important;
}


button{
    float: right;
    
    background-color: black;
}

p{
    font-size: 1rem;
    color: #495464;
    font-family: 'Roboto', sans-serif;
    
}
section{
    margin-bottom: 100px;
    
}
footer {
    background: #495464;
    padding: 1%;
    text-align: center; 
    color: white;
    font-family: 'Titillium Web', sans-serif; 
}
footer p {
    font-size: 0.8rem;
    line-height: 32px;
    
}
.icon-style {
    color: white;
    background-color: rgb(30, 5, 122);
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 4px;
    padding: 5px;
}
@media only screen and (max-width: 500px) {
    h4 {
      text-align: center;
    }
    .media{
       display: grid;
    }
  }

